
html,
body {
  height: 100%;
  background-color: #000;
  
}
body {
  color: #fff; 
  background: url("cover_flooddkcp2.jpg") no-repeat scroll 0px / cover transparent;
  background-position: top center;
  background-attachment: fixed;
}

.cover-container { 
  padding: 50px 0 0 0;
}

.cover-main h1 {
  text-align: center;
  font-size: 80px;
  font-family: 'Vast Shadow', cursive; 
  text-shadow: 0 5px 5px rgba(100,100,100,.7);
}

.cover-main p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 5px 5px rgba(30,30,30,.8);
}

.jumbotron {
  background: transparent;
  }
 
.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
