
html,
body {
  height: 100%;
  background-color: #000;
  
}
body {
  color: #fff; 
  background: url("cover_flood.jpg") no-repeat scroll 0px / cover transparent;
  background-attachment: fixed;
}

.cover-container { 
  padding: 150px
  text-align: center;
}

.navbar {
  background: rgba(77, 91, 43, .5);
  border: none
  }

.navbar-default .navbar-header > a:hover {
  color: #E1B07E
  }
  
.navbar-default .navbar-nav > li > a:hover {
  color: #E1B07E;
  }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

.navbar-header .navbar-brand {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

.nav-cover {
  background-image: none;
  position: fixed;
  width: 100%;
  padding: 0;
  color: #fff;
  
}

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
