body { 
  padding: 100px; 
  font-family: 'Lora', serif;
  background: #2C2D22
   }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', serif;
  color: #fff;
  }	
  
.navbar {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  background: rgba(77, 91, 43, .8);
  border: none
  }

.navbar-default .navbar-header > a:hover {
  color: #E1B07E
  }
  
.navbar-default .navbar-nav > li > a:hover {
  color: #E1B07E;
  }

.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

.navbar-header .navbar-brand {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

#map { 
    height: 550px; 
    padding: 50px;
    }

/* customizations to leaflet-markercluster */

.marker-cluster-small {
	background-color: rgba(154, 144, 156, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(90, 53, 98, 0.7);
	}

.marker-cluster-medium {
	background-color: rgba(154, 144, 156, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(90, 53, 98, 0.7);
	}

.marker-cluster-large {
	background-color: rgba(154, 144, 156, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(90, 53, 98, 0.7);
	}
.marker-cluster div {
    color: #fff;
    }