body { 
  padding: 100px 0 0 0; 
  font-family: 'Droid Serif', serif;
  background: #2C2D22 /* very dark gray */
   }

.button {
 font-family: 'Droid Sans', serif;
 padding-bottom: 5px;
  }

.thumbnail .caption {
  padding: 9px 5px 0px 5px;
  }
  
.caption > p {
  color: #000;
  }

.credit {
  font-size: 12px;
  }

.glyphicon {
  color: #999;
  font-size: 18px;
  }

a:hover > .glyphicon {
  color: #E1B07E; /* pale orange */
  }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', serif;
  color: #fff;
  }	

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff
  }
  
.msg {
  color: #fff;
  }
  
.navbar {
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
  background: rgba(77, 91, 43, .8);
  border: none
  }

.navbar-default .navbar-header > a:hover {
  color: #E1B07E /* pale orange */
  }
  
.navbar-default .navbar-nav > li > a:link {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

.navbar-default .navbar-nav > li > a:visited {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }
  
.navbar-default .navbar-nav > li > a:hover {
  color: #E1B07E; /* medium orange */
  }

.navbar-header .navbar-brand {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  }

.navbar-brand a:visited {
  color: #fff;
  }

.page-list {
  display: none;
}

.picker {
  text-align: right;
  padding-right: 8px;
  }

.picker p {
  padding: 0px;
  margin: 0px;
  }
  
.scroller {
   overflow: visible;
}

.text-container {
  color: #2E4057; /* dark gray */
  }

.text-container h1, .text-container h2, .text-container h3 {
  color: #2E4057; /* dark gray */
  }

.text-container p, .text-container li{
  color: #2E4057; /* dark gray */
  }

.text-container a {
  color: #8d4c0a; /* dark orange */
  }

#map { 
    height: 550px; 
    padding: 50px;
    }

/* customizations to leaflet-markercluster */

.marker-cluster-small {
	background-color: rgba(154, 144, 156, 0.4);
	}
.marker-cluster-small div {
	background-color: rgba(90, 53, 98, 0.7);
	}

.marker-cluster-medium {
	background-color: rgba(154, 144, 156, 0.4);
	}
.marker-cluster-medium div {
	background-color: rgba(90, 53, 98, 0.7);
	}

.marker-cluster-large {
	background-color: rgba(154, 144, 156, 0.4);
	}
.marker-cluster-large div {
	background-color: rgba(90, 53, 98, 0.7);
	}
.marker-cluster div {
    color: #fff;
    }
    
p, li {
  color: #fff;
  }
  
p > a, li > a {
  color: #8d5216;
  }
  
@media (max-width: 767px)
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #777;
}
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #fff;
  }
