{% extends "base.html" %}
{% block body %}
	<div class="row">
		<h1>Browse images of {{label}}</h1>
	</div>
	<div class="row">
	  <div class="scroller">
			{% for row in items|batch(4) %}
				{% for item in row %}
				<div class="item col-xs-12 col-sm-6 col-md-2">
					<div class="thumbnail">
						<a href="{{item.nativeView}}" alt="" target="_blank"><img src="{{item.thumbnail}}"></a>
						<div class="caption"><p>{{item.title}}</p>
						   <div class="credit">source: {% if item.source == "dpla" %}DPLA{% else %}PPOC{% endif %}</div>
						</div>
					<div class="picker">
						<p><a href="#" class="pick"><span class="glyphicon glyphicon-ok-sign checkmark" name="selection" active="false" data-dbid="{{item.id}}" aria-label="select item"></span></a></p>
					</div>
					</div> 
				</div>
				{% endfor %}
			{% endfor %}
	  </div>
	</div> <!-- end row -->
	
	<div class="row">
		<nav class="page-list">
		  <ul class="pagination">
			{% if pagenum == 1 %}
				<li class="disabled">
				  <a href="" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				  </a>
				</li>
			{% else %}
				<li>
				  <a href="/disasters/{{event_type}}/{{pagenum - 1 }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				  </a>
				</li>
			{% endif %}
			
			{% for n in range(0,nopages) %}
		      {% if (n + 1) == pagenum %}
		         <li class="active"><a href="/disasters/{{event_type}}"</a>{{pagenum}}</a></li>
		         
		      {% else %}
			      <li><a href="/disasters/{{event_type}}/{{n + 1}}"</a>{{n + 1}}</a></li>
			  {% endif %}
			{% endfor %}
			
			{% if pagenum == (range(0,nopages)[-1]) + 1 %}
				<li class="disabled">
				  <a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			{% else %}
				<li class="next">
				  <a href="/disasters/{{event_type}}/{{pagenum + 1}}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			{% endif %}
		  </ul>
		</nav>
	</div> <!-- end row -->
{% endblock %}

{% block bottom_scripts %}
	<!-- infinite scroll and masonry tiles -->
	{% if pagenum == 1 %}
	<script>
	  $( document ).ready(function(){
 
		 var $container = $('.scroller');
 
		 $container.imagesLoaded(function(){
		   $container.masonry({
			 itemSelector: '.item',
		   });
		 });
	 
		 $container.infinitescroll({
		   navSelector: ".page-list ul.pagination",
		   nextSelector: "ul.pagination .next a",
		   itemSelector: ".item", 
		   loading: {	
			   finishedMsg: "",
			   img: "/static/ajax-loader.gif"
			   }
		   }, 
		   function( newElements ) {
			 // hide new items while they are loading
			 var $newElems = $( newElements ).css({ opacity: 0 });
			 // ensure that images load before adding to masonry layout
			 $newElems.imagesLoaded(function(){
			   // show elems now they're ready
			   $newElems.animate({ opacity: 1 });
			   $container.masonry( 'appended', $newElems, true );
			 }); 
		   });
		});
		
	</script>
	{% endif %}
	
	<!-- picker -->
    <script> 
      $( ".picker" ).on("click", function (event) { 
        // check if selected already
        var status = event.target.getAttribute("active");
        if (status == "false") {
			
			//set to selected and change color
			event.target.setAttribute("active", "true");
			event.target.style.color = "#E1B07E";
			event.preventDefault();
			
			//set up count variable in sessionStorage
			if (sessionStorage.getItem("count") == undefined) {
				  sessionStorage["count"] = "0";          
				} 			
			// add dbid to sessionStorage
			count = Number(sessionStorage["count"]) + 1; //count is a number
			var dbid = event.target.getAttribute("data-dbid");
			var urlparts = location.href.split("/");
			var disaster = urlparts[4]; 
			sessionStorage["data-dbid_" + disaster + "_" + String(count)] = dbid;
			sessionStorage["count"] = String(count); //count is now a string
		} 
		else if (status == "true") {
			event.target.style.color = "#999";
			event.target.setAttribute("active", "false");
			event.preventDefault();
			dbid = event.target.getAttribute("data-dbid");
			
			for (var i = 0; i < sessionStorage.length; i++) {
    			var key = sessionStorage.key(i);
    			var value = sessionStorage.getItem(key);
    			if (value == dbid) {
    				sessionStorage.removeItem(key);
    			}
			}
		}	
      });
    </script>
    
{% endblock %}