{% extends "base.html" %}
{% block body %}
	<div class="row">
		<h1>Browse images of {{event_type}}</h1>
	</div>
	{% for row in items|batch(4) %}
			<div class="row">
			{% for item in row %}
			<div class="col-xs-6 col-md-3">
			    <div class="thumbnail">
				<a href="{{item.nativeView}}" alt=""><img src="{{item.thumbnail}}"></a>
			    <div class="caption"><p>{{item.title}} {% if item.coll %}from {{item.coll[0]}}{% endif %}</p></div>
			    </div> 
			</div>
			{% endfor %}
		</div>
	{% endfor %}
	</div> <!-- end row -->
	<div class="row">
		<nav>
		  <ul class="pagination">
			{% if pagenum == range(0,nopages)[1] %}
				<li class="disabled">
				  <a href="" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				  </a>
				</li>
			{% else %}
				<li>
				  <a href="/disasters/{{event_type}}/{{pagenum - 1 }}" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				  </a>
				</li>
			{% endif %}
			
			{% for n in range(0,nopages) %}
		      {% if (n + 1) == pagenum %}
		         <li class="active"><a href="/disasters/{{event_type}}"</a>{{pagenum}}</a></li>
		         
		      {% else %}
			      <li><a href="/disasters/{{event_type}}/{{n + 1}}"</a>{{n + 1}}</a></li>
			  {% endif %}
			{% endfor %}
			
			{% if pagenum == (range(0,nopages)[-1]) + 1 %}
				<li class="disabled">
				  <a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			{% else %}
				<li>
				  <a href="/disasters/{{event_type}}/{{pagenum + 1}}" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			{% endif %}
		  </ul>
		</nav>
	</div> <!-- end row -->

</div>
{% endblock %}
