{% extends "base.html" %}
{% block body %} 
<div class="container text-container">
	<div class="row">
	  <div class="col-xs-12">
	  <h1>Image selections</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-xs-12">
		{% for item in items %}
		<div class="media"> 
			<div class="media-left">
				<a href="{{item.nativeView}}" target="_blank">
				  <img class="media-object" src="{{item.thumbnail}}" alt="thumbnail">
				</a>
			</div>
			 <div class="media-body">
				<h4 class="media-heading">
				  <a href="{{item.nativeView}}" target="_blank">{{item.title}}</a></h4>
				
				<p>{% if item.date %}{{item.displayDate}}. {% endif %} {{item.provider}}, from 
				{% if item.source == "dpla" %}
				    {% if item.coll %}{{item.coll}}, {% endif %}Digital Public Library of America
				{% endif %}</p>
				
				{% if item.description %}<p>{{item.description}}. </p>{% endif %}
			</div>
		</div>
	    {% endfor %}
		
	  <div> <!-- end col -->
	</div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}

{% block bottom_scripts %}
<script>
$(document).ready(function(){
	$( "body" ).css("background-color","#e7ece0");
});
</script> 
{% endblock %}