{% extends "base.html" %}
{% block body %} 
<div class="container-fluid text-container">
	<div class="row">
	  <h1>Image selections</h1>
	</div>
	<div class="row">
	   <div class="col-xs-12">
		{% for item in items %}
		<div class="media">
			<div class="media-left">
				<a href="{{item.nativeView}}" target="_blank">
				  <img class="media-object" src="{{item.thumbnail}}" alt="thumbnail">
				</a>
			</div>
			<div class="media-body">
				<h4 class="media-heading">
				  <a href="{{item.nativeView}}" target="_blank">{{item.title}}</a></h4>
				<p>{% if item.date %}{{item.displayDate}}. {% endif %}{% if item.coll %}{{item.coll}}, {% endif %} {{item.provider}},  
				via {% if item.source == "dpla" %}Digital Public Library of America{% else %}Library of Congress{% endif %}</p>
				{% if item.description %}<p>{{item.description}}. </p>{% endif %}
			</div>
		</div>
	    {% endfor %}
		
	  <div> <!-- end col -->
	</div> <!-- end row -->
</div> <!-- end text-container -->
{% endblock %}

{% block bottom_scripts %}
<script>
$(document).ready(function(){
	$( "body" ).css("background-color","#DFEACF");
});
</script> 
{% endblock %}