{% extends "base.html" %}
{% block scripts %}
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
{% endblock %}
{% block body %}
 <div class="row">
	<div class="col-sm-12">
		 <div id="map"></div>
	</div>
    
</div>
{% endblock %}
{% block bottom_scripts %}
<script>
 var map = L.map('map', {
     center: [37.6, -95.665], 
     zoom: 5,
     });

 L.tileLayer('http://{s}.tiles.mapbox.com/v3/lwrubel.a6f7ecd1/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
    }).addTo(map);

 var purpleIcon = new L.Icon.Default({
    iconUrl: '/static/marker-purple.png',
  });
  
 var hurricanesMarkers = new L.MarkerClusterGroup();
 var floodsMarkers = new L.MarkerClusterGroup();
 var forestMarkers = new L.MarkerClusterGroup();
 var earthquakesMarkers = new L.MarkerClusterGroup();
 
 var hurricanes = new L.LayerGroup();
 var floods = new L.LayerGroup();
 var forest = new L.LayerGroup();
 var earthquakes = new L.LayerGroup();
 
 
 {% for item in items %}
      var marker = L.marker([{{item.point}}],{icon: purpleIcon})
      marker.bindPopup('<img src="{{item.thumbnail}}"><br><a href="{{item.url}}" target="_blank">{{item.title}}</a>');
      {% if item.disaster == 'hurricanes' %} 
        hurricanesMarkers.addLayer(marker); 
        hurricanes.addLayer(hurricanesMarkers);
      {% elif item.disaster == 'earthquakes' %}
        earthquakesMarkers.addLayer(marker); 
        earthquakes.addLayer(earthquakesMarkers);
      {% elif item.disaster == 'floods' %}
        floodsMarkers.addLayer(marker); 
        floods.addLayer(floodsMarkers);
      {% elif item.disaster == 'forest' %}
        forestMarkers.addLayer(marker); 
        forest.addLayer(forestMarkers);
      {% endif %}
 {% endfor %}
 
  hurricanes.addTo(map);
  earthquakes.addTo(map);
  floods.addTo(map);
  forest.addTo(map);
  
 var overlayMaps = {
    "Earthquakes": earthquakes, "Floods": floods, "Forest Fires": forest, "Hurricanes": hurricanes, 
  };

  L.control.layers(null, overlayMaps, {collapsed: false}).addTo(map);

// map.addLayer(markers); 
</script>
{% endblock %}
